*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

section{
    padding-top:60px;
    padding-bottom:60px;
}
.container{
    max-width:1180px;
    width:100%;
    margin-left:auto;
    margin-right:auto;
    padding-left:20px;
    padding-right:20px;
}
.form_design{
    display:flex;
    flex-direction: column;
    gap:20px;
}
.form_design input,
.form_design textarea,
.form_design button{
    padding:10px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border:1px solid lightgray;
}
.form_design textarea{
    height:120px;
}
.form_design button{
    background:darkred;
    color:white;
    border:2px solid darkred;
    font-size: 20px;
    cursor: pointer;
    transition:0.3s;
    -webkit-transition:0.3s;
    -moz-transition:0.3s;
    -ms-transition:0.3s;
    -o-transition:0.3s;
}
.form_design button:hover{
    background: transparent;
    color:darkred;
}